@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.customer-cart {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #3b3636;
}

.customer-cart .all-container {
    width: 100%;
    /* height: 100vh; */
    padding-bottom: 2px;
}

.customer-cart .proceed {
    --w: 300px;
    position: fixed;
    bottom: 0;
    width: var(--w);
    background-color: #4a4f52;
    font-size: 20px;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    left: calc(50% - var(--w)/2);
    color: #e7e5dc;
    font-weight: 500;
    transition: 0.3s;
}

.customer-cart .proceed:hover {
    transform: scale(1.05);
    background-color: #8e969b;
    cursor: pointer;
}

.customer-cart .main-container {
    background-color: #f1efef;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 30px;
}

.customer-cart .title{
    width: 100%;
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

.customer-cart .item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-cart .item {
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.customer-cart .restaurant-name {
    font-size: 25px;
    text-decoration: underline;
    cursor: pointer;
}


.customer-cart .item-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.customer-cart .item-wrapper > div {
    width: 30%;
}

.customer-cart .quantity-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 20%;
}

.customer-cart .quantity-box > div {
    width: 30%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.customer-cart .quantity-change {
    cursor: pointer;
}

.customer-cart .main-container.payment-list, .customer-cart .main-container.address, .customer-cart .main-container.offers{
    width: 40%;
}

.customer-cart .payment-title, .customer-cart .address-title, .customer-cart .offers-title{
    font-size: 2em;
    margin-bottom: 20px;
}


.customer-cart .payment-method {
    display: block;
    padding: 5px;
    width: fit-content;
    margin: 10px;
    cursor: pointer;
    font-size: 1.2em;
}

.customer-cart .payment-method.selected {
    background-color: #97b1ee;
    border-radius: 5px;
}

.customer-cart .address-input input{
    font-size: 1.1em;
    width: 100%;
    padding: 5px;
    border: 1.5px solid #C7BEBE;
    border-radius: 5px;
}

.customer-cart .offer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-cart .offer {
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.customer-cart .offer > div {
    width: 50%;
}

.customer-cart .offer-list input {
    width: 10px;
    height: 10px;
    display: inline;
}