@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.restaurant-list-page {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #3b3636;
}

.restaurant-list-page .background-image {
    width: 100%;
    /* height: 100vh; */
}

.restaurant-list-page .main-container {
    background-color: #f1efef;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
}

.restaurant-list-page .search-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.restaurant-list-page input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.restaurant-list-page .sort-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.restaurant-list-page .sort-container label {
    margin-right: 10px;
    font-size: 16px;
}

.restaurant-list-page .sorter {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-inline: 10px;
    outline: none;
}

.sorter:focus {
    border-color: #aaa;
}

.restaurant-list-page .restaurant-list {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
}

.restaurant-list-page .restaurant {
    width: 20%;
    min-width: 300px;
    height: 350px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.restaurant-list-page .restaurant:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.restaurant-list-page .restaurant-img {
    width: 100%;
    height: 70%;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurant-list-page .restaurant-img img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin: 0 auto;
}

.restaurant-list-page .restaurant-info {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 30%;
}

.restaurant-list-page .restaurant-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.restaurant-list-page .restaurant-info p {
    margin-bottom: 2px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .restaurant-list-page .restaurant-list {
        flex-direction: column;
    }

    .restaurant-list-page .restaurant-info {
        width: 100%;
    }
}