@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.customer-signup {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.customer-signup .background-image {
  background-image: url('../../../imgs/background.webp');
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.customer-signup .wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap-reverse;
}

.customer-signup .welcome-text {
  flex: 1;
  padding: 40px;
}

.customer-signup .welcome-text h1 {
  font-weight: 700;
  font-size: 60px;
  color: #333;
}

.customer-signup .signup-form {
  flex: 1;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.customer-signup .signup-form h2 {
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.customer-signup .wrapper form .input-box {
  margin: 18px 0;
}

.customer-signup form .input-box input {
  height: 52px;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.customer-signup .input-box input:focus,
.customer-signup .input-box input:valid {
  border-color: #4d5b81;
}

.customer-signup form .input-box textarea {
    height: 70px;
    width: 100%;
    outline: none;
    padding: 2px 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  
.customer-signup .input-box textarea:focus,
.customer-signup .input-box textarea:valid {
border-color: #4d5b81;
}

.customer-signup .input-button {
  /* margin: 0px auto; */
  transform: translate(10%, 0);
  height: 52px;
  width: 80%;
  border-radius: 6px;
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #53565f;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}

.customer-signup .input-button:hover {
  background: #666f8b;
}

.customer-signup form .text h3 {
  font-size: 1em;
  color: #333;
  width: 100%;
  text-align: center;
}

.customer-signup form .text h3 a {
  color: #4b5161;
  text-decoration: none;
  cursor: pointer;
}

.customer-signup form .text h3 a:hover {
  text-decoration: underline;
}
