@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.customer-view-restaurant {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #3b3636;
}

.customer-view-restaurant .all-container {
    width: 100%;
    /* height: 100vh; */
}

/* .customer-view-restaurant .background-image {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.customer-view-restaurant .background-image img {
    object-fit: fill;
    filter: blur(5px);
} */

.customer-view-restaurant .nav-bar {
    position: sticky;
    top: 0px;
    background-color: transparent;
    width: 100%;
    height: 70px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer-view-restaurant .navbar-logo img {
    margin: 15px 30px;
    height: 50px;
}

.customer-view-restaurant .nav-home:hover {
    transform: scale(1.05);
}

.customer-view-restaurant .menu-button {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 10;
    margin: 10px;
    transition: 0.1s;
}

.customer-view-restaurant .menu-button:hover {
    transform: scale(1.1);
}

.customer-view-restaurant .bar {
    width: 100%;
    height: 5px;
    background-color: rgb(253, 244, 244);
    margin-bottom: 10px;
    transition: 0.4s;
}

.customer-view-restaurant .change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.customer-view-restaurant .change .bar:nth-child(2) {
    opacity: 0;
}

.customer-view-restaurant .change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
}


.customer-view-restaurant .menu-container {
    position: absolute;
    top: 0;
    right: -20%;
    width: 20%;
    min-width: 200px;
    height: 100vh;
    background-color: #ada894;
    padding-top: 100px;
    text-align: center;
    transition: right 0.3s ease-in-out;
    box-shadow: none;
}

.customer-view-restaurant .menu-container.active {
    right: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.customer-view-restaurant .menu-links {
    padding: 10px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 300;
    color: white;
    display: block;
    padding: 10px;
    margin: 40px 20%;
}

.customer-view-restaurant div.menu-container a {
    --c: #f0f0f0;
    /* the border color */
    --b: 5px;
    /* the border thickness*/
    --g: 10px;
    /* the gap on hover */
    border-radius: 10px;

    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%, var(--c) 0;
    background:
        conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat,
        conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
    transition: .1s, background-position .1s .1s;
    cursor: pointer;
}

.customer-view-restaurant div.menu-container a:hover {
    --_i: 100%;
    transition: .1s, background-size .1s .1s;
}

.customer-view-restaurant .menu-button.hidden {
    filter: drop-shadow(2px 2px 1px #7c7979) invert(1);
}

.customer-view-restaurant .proceed {
    --w: 300px;
    position: fixed;
    bottom: 0;
    width: var(--w);
    background-color: #4a4f52;
    font-size: 20px;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    left: calc(50% - var(--w)/2);
    color: #e7e5dc;
    font-weight: 500;
    transition: 0.3s;
}

.customer-view-restaurant .proceed:hover {
    transform: scale(1.05);
    background-color: #8e969b;
    cursor: pointer;
}

.customer-view-restaurant .main-container {
    background-color: #f1efef;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
}

.customer-view-restaurant .restaurant-name{
    width: 100%;
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

.customer-view-restaurant .search-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.customer-view-restaurant input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.customer-view-restaurant .sort-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.customer-view-restaurant .sort-container label {
    margin-right: 10px;
    font-size: 16px;
}

.customer-view-restaurant .sorter {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-inline: 10px;
    outline: none;
}

.sorter:focus {
    border-color: #aaa;
}

.customer-view-restaurant .item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-view-restaurant .item {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.customer-view-restaurant .item > div {
    width: 30%;
}

.customer-view-restaurant .quantity-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 20%;
}

.customer-view-restaurant .quantity-box > div {
    width: 30%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.customer-view-restaurant .quantity-change {
    cursor: pointer;
}