@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.management-customer-list {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #3b3636;
}

.management-customer-list .all-container {
    width: 100%;
    /* height: 100vh; */
}

.management-customer-list .main-container {
    background-color: #f1efef;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
}

.management-customer-list .title{
    width: 100%;
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

.management-customer-list .search-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.management-customer-list input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.management-customer-list .customer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.management-customer-list .customer {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.management-customer-list .customer:hover {
    transform: scale(1.02);
}

.management-customer-list .customer > div {
    width: 40%;
}