.nav-bar-management {
    position: sticky;
    top: 0px;
    background-color: transparent;
    width: 100%;
    height: 70px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-management .navbar-logo img {
    margin: 15px 30px;
    height: 50px;
}

.nav-bar-management .nav-home:hover {
    transform: scale(1.05);
}

.nav-bar-management .menu-button {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 10;
    margin: 10px;
    transition: 0.1s;
}

.nav-bar-management .menu-button:hover {
    transform: scale(1.1);
}

.nav-bar-management .bar {
    width: 100%;
    height: 5px;
    background-color: rgb(253, 244, 244);
    margin-bottom: 10px;
    transition: 0.4s;
}

.nav-bar-management .change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.nav-bar-management .change .bar:nth-child(2) {
    opacity: 0;
}

.nav-bar-management .change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
}


.nav-bar-management .menu-container {
    position: fixed;
    top: 0;
    right: -20%;
    width: 20%;
    height: 100vh;
    background-color: #ada894;
    padding-top: 100px;
    text-align: center;
    transition: right 0.3s ease-in-out;
    box-shadow: none;
}

.nav-bar-management .menu-container.active {
    right: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.nav-bar-management .menu-links {
    padding: 10px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 300;
    color: white;
    display: block;
    padding: 10px;
    margin: 40px 20%;
}

.nav-bar-management div.menu-container a {
    --c: #f0f0f0;
    /* the border color */
    --b: 5px;
    /* the border thickness*/
    --g: 10px;
    /* the gap on hover */
    border-radius: 10px;

    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%, var(--c) 0;
    background:
        conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat,
        conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
    transition: .1s, background-position .1s .1s;
    cursor: pointer;
}

.nav-bar-management div.menu-container a:hover {
    --_i: 100%;
    transition: .1s, background-size .1s .1s;
}

.nav-bar-management .menu-button.hidden {
    filter: drop-shadow(2px 2px 1px #7c7979) invert(1);
}