@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.management-view-restaurant {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #3b3636;
}

.management-view-restaurant .all-container {
    width: 100%;
    /* height: 100vh; */
}

.management-view-restaurant .proceed {
    --w: 300px;
    position: fixed;
    bottom: 0;
    width: var(--w);
    background-color: #4a4f52;
    font-size: 20px;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    left: calc(50% - var(--w)/2);
    color: #e7e5dc;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
}

.management-view-restaurant .proceed:hover {
    transform: scale(1.05);
    background-color: #8e969b;
}

.management-view-restaurant .main-container {
    background-color: #f1efef;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
}

.management-view-restaurant .restaurant-name{
    width: 100%;
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

.management-view-restaurant .search-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.management-view-restaurant input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.management-view-restaurant .sort-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.management-view-restaurant .sort-container label {
    margin-right: 10px;
    font-size: 16px;
}

.management-view-restaurant .sorter {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-inline: 10px;
    outline: none;
}

.sorter:focus {
    border-color: #aaa;
}

.management-view-restaurant .item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.management-view-restaurant .item {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.management-view-restaurant .item > div {
    width: 40%;
}