@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.restaurant-new-item {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #3b3636;
}

.restaurant-new-item .all-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurant-new-item .new-item-form {
    width: 50%;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.restaurant-new-item .new-item-form h2 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

.restaurant-new-item form .input-box {
    margin: 18px 0;
}

.restaurant-new-item form .input-box input {
    height: 52px;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.restaurant-new-item .input-box input:focus,
.restaurant-new-item .input-box input:valid {
    border-color: #4d5b81;
}

.restaurant-new-item .input-button {
    /* margin: 0px auto; */
    transform: translate(10%, 0);
    height: 52px;
    width: 80%;
    border-radius: 6px;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #53565f;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

.restaurant-new-item .input-button:hover {
    background: #666f8b;
}