@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.restaurant-profile {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #3b3636;
}

.restaurant-profile .all-container {
    width: 100%;
    /* height: 100vh; */
    padding-bottom: 2px;
}

.restaurant-profile .main-container {
    background-color: #f1efef;
    width: 60%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 30px;
}

.restaurant-profile .title{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.restaurant-profile .detail{
    display: flex;
    justify-content:flex-start;
    margin-block: 20px;
    font-size: 20px;
}

.restaurant-profile .detail-title{
    width: 50%;
}

.restaurant-profile .image {
    width: 100%;
    padding-inline: 20%;
}

.restaurant-profile .input-box{
    width: 50%;
    display: flex;
}

.restaurant-profile .input-box > input{
    padding: 5px;
    border: 1px solid rgb(94, 93, 93);
    border-radius: 5px;
    margin-inline: 10px;
}

.restaurant-profile .input-box.timings > input{
    width: 30%;
}

.restaurant-profile .save-button, .restaurant-profile .edit-button{
    position: relative;
    bottom: 0;
    --w: 300px;
    width: var(--w);
    left: 50%;
    transform: translateX(-50%);
    margin: 20px;
}

.restaurant-profile .save-button > button, .restaurant-profile .edit-button > button{
    background-color: #4a4f52;
    width: 100%;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    color: #e7e5dc;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
}

.restaurant-profile .save-button > button:hover, .restaurant-profile .edit-button >button:hover{
    transform: scale(1.05);
    background-color: #8e969b;
}

.restaurant-profile .review-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant-profile .review {
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.restaurant-profile .review-comment {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}