.navbar-main .navbar {
  background-color: #333;
  color: #fff;
  padding: 0;
  height: 70px;
}

.navbar-main .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-main .navbar-logo img {
  height: 40px;
}

.navbar-main .navbar-links .nav-link {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  cursor: pointer;
}