.loader {
  width: 100%;
  height: 100svh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader .loader-box {
  position: relative;
  width: clamp(180px, 40vw, 280px);
  height: clamp(180px, 40vw, 280px);
}

.loader .loader-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 70%;
}

.loader .loader-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid transparent;
  border-right: 5px solid var(--font-green);
  border-left: 5px solid var(--font-green);
  border-radius: 50%;
  animation: spin 4s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
